.env
storage
core/db/__pycache__/verify_sql.cpython-312.pyc
core/db/__pycache__/query_engine.cpython-312.pyc
core/db/__pycache__/introspector.cpython-312.pyc
core/db/__pycache__/embedder.cpython-312.pyc
core/charts/__pycache__/spec_generator.cpython-312.pyc
core/db/__pycache__/__init__.cpython-312.pyc
core/charts/__pycache__/__init__.cpython-312.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/langchain_sql_agent.iml
.idea/workspace.xml
.idea/modules.xml
.idea/sql_agent_langchain.iml
.idea/workspace.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/app.cpython-312.pyc
__pycache__/config.cpython-312.pyc
api/__pycache__/__init__.cpython-312.pyc
api/__pycache__/routes_chart.cpython-312.pyc
api/__pycache__/routes_connection.cpython-312.pyc
api/__pycache__/routes_health.cpython-312.pyc
api/__pycache__/routes_models.cpython-312.pyc
api/__pycache__/routes_query.cpython-312.pyc
api/__pycache__/routes_sse.cpython-312.pyc
api/__pycache__/routes_worker.cpython-312.pyc
api/__pycache__/utils.cpython-312.pyc
core/__pycache__/__init__.cpython-312.pyc
core/db/__pycache__/connection_test.cpython-312.pyc
core/worker/__pycache__/listen_and_refresh.cpython-312.pyc
.idea/copilotDiffState.xml
.idea/workspace.xml
.idea/workspace.xml
